################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SamolotyTI/.vs/SamolotyTI
/SamolotyTI/SamolotyTI/bin/Debug/netcoreapp3.0
